code/Node-RED json files/graphs.json
[
    {
        "id": "500f5681.893578",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7008bfb5.90e78",
        "type": "mqtt in",
        "z": "500f5681.893578",
        "name": "Subscribe",
        "topic": "road_0/lane_0",
        "qos": "0",
        "datatype": "auto",
        "broker": "3afd78a9.b52478",
        "x": 240,
        "y": 169,
        "wires": [
            [
                "fa50d9c5.1f12b8",
                "ffb3936f.3e9b1",
                "88aa8b8e.e58048"
            ]
        ]
    },
    {
        "id": "fa50d9c5.1f12b8",
        "type": "debug",
        "z": "500f5681.893578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 249,
        "wires": []
    },
    {
        "id": "ffb3936f.3e9b1",
        "type": "ui_chart",
        "z": "500f5681.893578",
        "name": "R0-L0",
        "group": "68427d2.c443f84",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Road 0 - Lane 0",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 450,
        "y": 289,
        "wires": [
            []
        ]
    },
    {
        "id": "9e137840.c941a8",
        "type": "mqtt in",
        "z": "500f5681.893578",
        "name": "Subscribe",
        "topic": "road_0/lane_1",
        "qos": "0",
        "datatype": "auto",
        "broker": "3afd78a9.b52478",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "3789ff51.45e45",
                "791385a1.99995c",
                "b3440724.2def68"
            ]
        ]
    },
    {
        "id": "3789ff51.45e45",
        "type": "debug",
        "z": "500f5681.893578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 520,
        "wires": []
    },
    {
        "id": "791385a1.99995c",
        "type": "ui_chart",
        "z": "500f5681.893578",
        "name": "R0-L1",
        "group": "68427d2.c443f84",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Road 0 - Lane 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 450,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "284be4ce.7b26ec",
        "type": "mqtt in",
        "z": "500f5681.893578",
        "name": "Subscribe",
        "topic": "road_1/lane_0",
        "qos": "0",
        "datatype": "auto",
        "broker": "3afd78a9.b52478",
        "x": 240,
        "y": 720,
        "wires": [
            [
                "272b28ed.bf9718",
                "746ed0f6.a7c8",
                "d1106381.b0daf"
            ]
        ]
    },
    {
        "id": "272b28ed.bf9718",
        "type": "debug",
        "z": "500f5681.893578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 780,
        "wires": []
    },
    {
        "id": "746ed0f6.a7c8",
        "type": "ui_chart",
        "z": "500f5681.893578",
        "name": "R1-L0",
        "group": "e295c8af.11dd98",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Road 1 - Lane 0",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 450,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "c7d4e970.fee8e8",
        "type": "mqtt in",
        "z": "500f5681.893578",
        "name": "Subscribe",
        "topic": "road_1/lane_1",
        "qos": "0",
        "datatype": "auto",
        "broker": "3afd78a9.b52478",
        "x": 240,
        "y": 980,
        "wires": [
            [
                "8123a09a.dbcb3",
                "fa24db79.ad3eb8",
                "eb12cde4.a6717"
            ]
        ]
    },
    {
        "id": "8123a09a.dbcb3",
        "type": "debug",
        "z": "500f5681.893578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1040,
        "wires": []
    },
    {
        "id": "fa24db79.ad3eb8",
        "type": "ui_chart",
        "z": "500f5681.893578",
        "name": "R1-L1",
        "group": "e295c8af.11dd98",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Road 1 - Lane 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 450,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "df4b369d.4d8728",
        "type": "mqtt in",
        "z": "500f5681.893578",
        "name": "Subscribe",
        "topic": "road_2/lane_0",
        "qos": "0",
        "datatype": "auto",
        "broker": "3afd78a9.b52478",
        "x": 720,
        "y": 169,
        "wires": [
            [
                "592051db.ccc1c",
                "f7aef13.141bf1",
                "f8615140.770dd"
            ]
        ]
    },
    {
        "id": "592051db.ccc1c",
        "type": "debug",
        "z": "500f5681.893578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 249,
        "wires": []
    },
    {
        "id": "f7aef13.141bf1",
        "type": "ui_chart",
        "z": "500f5681.893578",
        "name": "R2-L0",
        "group": "9658358b.795c68",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Road 2 - Lane 0",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 930,
        "y": 289,
        "wires": [
            []
        ]
    },
    {
        "id": "c60e68a1.bd8068",
        "type": "mqtt in",
        "z": "500f5681.893578",
        "name": "Subscribe",
        "topic": "road_2/lane_1",
        "qos": "0",
        "datatype": "auto",
        "broker": "3afd78a9.b52478",
        "x": 720,
        "y": 440,
        "wires": [
            [
                "7973ac4e.184d84",
                "b493da18.27eed8",
                "cbd91c32.edf37"
            ]
        ]
    },
    {
        "id": "7973ac4e.184d84",
        "type": "debug",
        "z": "500f5681.893578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 520,
        "wires": []
    },
    {
        "id": "b493da18.27eed8",
        "type": "ui_chart",
        "z": "500f5681.893578",
        "name": "R2_L1",
        "group": "9658358b.795c68",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Road 2 - Lane 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 930,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "21486bda.2fae44",
        "type": "mqtt in",
        "z": "500f5681.893578",
        "name": "Subscribe",
        "topic": "road_3/lane_0",
        "qos": "0",
        "datatype": "auto",
        "broker": "3afd78a9.b52478",
        "x": 720,
        "y": 720,
        "wires": [
            [
                "db17069d.bee458",
                "799d2108.0ac59",
                "6ed80720.5c7bd8"
            ]
        ]
    },
    {
        "id": "db17069d.bee458",
        "type": "debug",
        "z": "500f5681.893578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 780,
        "wires": []
    },
    {
        "id": "799d2108.0ac59",
        "type": "ui_chart",
        "z": "500f5681.893578",
        "name": "R3_L0",
        "group": "390f9aaa.c4d796",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Road 3 - Lane 0",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 930,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "8c39ae5d.db778",
        "type": "mqtt in",
        "z": "500f5681.893578",
        "name": "Subscribe",
        "topic": "road_3/lane_1",
        "qos": "0",
        "datatype": "auto",
        "broker": "3afd78a9.b52478",
        "x": 720,
        "y": 980,
        "wires": [
            [
                "5447c344.72260c",
                "da375a04.b87f08",
                "1e25eb77.2b1f95"
            ]
        ]
    },
    {
        "id": "5447c344.72260c",
        "type": "debug",
        "z": "500f5681.893578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1040,
        "wires": []
    },
    {
        "id": "da375a04.b87f08",
        "type": "ui_chart",
        "z": "500f5681.893578",
        "name": "R3_L1",
        "group": "390f9aaa.c4d796",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Road 3 - Lane 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 930,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "88aa8b8e.e58048",
        "type": "ui_text",
        "z": "500f5681.893578",
        "group": "68427d2.c443f84",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Vehicle Count: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 500,
        "y": 329,
        "wires": []
    },
    {
        "id": "b3440724.2def68",
        "type": "ui_text",
        "z": "500f5681.893578",
        "group": "68427d2.c443f84",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Vehicle Count: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "eb12cde4.a6717",
        "type": "ui_text",
        "z": "500f5681.893578",
        "group": "e295c8af.11dd98",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Vehicle Count: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 500,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f8615140.770dd",
        "type": "ui_text",
        "z": "500f5681.893578",
        "group": "9658358b.795c68",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Vehicle Count: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 980,
        "y": 329,
        "wires": []
    },
    {
        "id": "cbd91c32.edf37",
        "type": "ui_text",
        "z": "500f5681.893578",
        "group": "9658358b.795c68",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Vehicle Count: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "6ed80720.5c7bd8",
        "type": "ui_text",
        "z": "500f5681.893578",
        "group": "390f9aaa.c4d796",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Vehicle Count: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 980,
        "y": 860,
        "wires": []
    },
    {
        "id": "1e25eb77.2b1f95",
        "type": "ui_text",
        "z": "500f5681.893578",
        "group": "390f9aaa.c4d796",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Vehicle Count: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 980,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d1106381.b0daf",
        "type": "ui_text",
        "z": "500f5681.893578",
        "group": "e295c8af.11dd98",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Vehicle Count: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 500,
        "y": 860,
        "wires": []
    },
    {
        "id": "3afd78a9.b52478",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.1.2",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "68427d2.c443f84",
        "type": "ui_group",
        "z": "",
        "name": "Road0",
        "tab": "c9eaf330.780b8",
        "order": 5,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e295c8af.11dd98",
        "type": "ui_group",
        "z": "",
        "name": "Road1",
        "tab": "c9eaf330.780b8",
        "order": 6,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9658358b.795c68",
        "type": "ui_group",
        "z": "",
        "name": "Road2",
        "tab": "c9eaf330.780b8",
        "order": 7,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "390f9aaa.c4d796",
        "type": "ui_group",
        "z": "",
        "name": "Road3",
        "tab": "c9eaf330.780b8",
        "order": 8,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c9eaf330.780b8",
        "type": "ui_tab",
        "z": "",
        "name": "Traffic controlling Statics",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]